*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background: #FFF;
  border-bottom: 1px solid #ECECEC;
}
.header-logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.headerlogo-span {
  color: #2196F3;
}
.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-left: 93px;
}
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  top: 48px;
  left: 0;
  -webkit-transition: ease-in-out 250ms;
  transition: ease-in-out 250ms;
  display: block;
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link:hover, .nav-link:focus {
  color: #2196F3;
}
.nav-active {
  color: #2196F3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.nav-active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  top: 48px;
  left: 0;
  display: block;
}
.nav-item {
  position: relative;
}

.header_mobile--menu {
  display: none;
  cursor: pointer;
  position: relative;
}
.header_mobile--menu:hover .header_mobile--menu--list {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: all;
}
.header_mobile--menu--list {
  position: fixed;
  right: 5%;
  background-color: #2196F3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  border-radius: 10px;
  padding: 16px 32px;
  text-align: center;
  pointer-events: none;
}
.header_mobile--menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
.header_mobile--menu ul li a {
  color: white;
}

.header-menu-svg {
  position: relative;
  width: 40px;
  height: 40px;
}

.r-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.r-nav-link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}
.r-nav-link:hover, .r-nav-link:focus {
  color: #2196F3;
}
.r-nav-link:hover .r-nav-icon, .r-nav-link:focus .r-nav-icon {
  fill: #2196F3;
}
.r-nav-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.r-nav-mail {
  width: 16px;
  height: 12px;
}
.r-nav-phone {
  width: 10px;
  height: 16px;
}
.r-nav-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/wstudioherobg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/wstudioherobg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  width: 696px;
  margin-inline: auto;
  margin-bottom: 30px;
  color: #FFF;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}
.hero-button {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  background: #2196F3;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.advantages {
  padding-top: 94px;
  background: #FFF;
}
.advantages-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.advantages-li {
  width: 270px;
}
.advantages-li::before {
  width: 270px;
  height: 120px;
}
.advantages-li:nth-child(1):before {
  content: "";
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url(../img/antenna.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.advantages-li:nth-child(2):before {
  content: "";
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url(../img/clock.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.advantages-li:nth-child(3):before {
  content: "";
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url(../img/diagram.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.advantages-li:nth-child(4):before {
  content: "";
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-image: url(../img/astronaut.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.advantages-text {
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

.photos {
  padding-top: 94px;
  padding-bottom: 94px;
}
.photos-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.photos-img {
  width: 370px;
}
.photos-card {
  position: relative;
}
.photos-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.photos-title {
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team-item {
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team-img {
  height: 260px;
}
.team-title {
  margin-bottom: 50px;
  text-align: center;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.48px;
}
.team-job {
  margin-top: 10px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.48px;
}
.team-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 28px;
}
.team-social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: rgb(175, 177, 184);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social:hover, .team-social:focus {
  outline: none;
  background-color: #2196F3;
}
.team-social:hover .team-icon, .team-social:focus .team-icon {
  fill: #FFF;
}

.customers {
  padding-block: 94px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@-webkit-keyframes customers {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes customers {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.customers-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.customers-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 60px;
  fill: rgb(175, 177, 184);
}
.customers-item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
}
.customers-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #AFB1B8;
  border-radius: 4px;
  padding-block: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-links:hover, .customers-links:focus {
  outline: none;
  border-color: #2196F3;
}
.customers-links:hover .customers-icon, .customers-links:focus .customers-icon {
  fill: #2196F3;
  -webkit-animation: customers 450ms ease-in 1;
          animation: customers 450ms ease-in 1;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.footer {
  padding-block: 60px;
  background: #2F303A;
  display: block;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: first baseline;
      -ms-flex-align: first baseline;
          align-items: first baseline;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer .l-footer {
  margin-right: 80px;
}
.footer-span {
  color: #2196F3;
}
.footer-maps {
  display: inline-block;
  margin-bottom: 9px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.footer-contacts {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.footer-tel {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer .r-footer {
  margin-right: 93px;
}
.footer .r-footer h2 {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.footer-svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: rgb(175, 177, 184);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links:hover, .footer-links:focus {
  background-color: #2196F3;
}
.footer-links:hover .footer-svg, .footer-links:focus .footer-svg {
  fill: #FFF;
}

.tfooter-title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.tfooter-input {
  background-color: transparent;
  padding: 15px;
  width: 358px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.tfooter-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tfooter-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tfooter-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tfooter-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tfooter-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.tfooter-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.tfooter-button {
  border-radius: 4px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tfooter-button:hover {
  -webkit-transform: scale(1.04, 1.06);
          transform: scale(1.04, 1.06);
}
.tfooter-svg {
  width: 24px;
  height: 24px;
  fill: #FFF;
}

.mobile-l-footer {
  margin-right: 80px;
}

.mobile-r-footer {
  margin-right: 93px;
}

.mobile-r-footer h2 {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.mobile-footer {
  padding-block: 60px;
  background: #2F303A;
  display: none;
}
.mobile-footer .container {
  display: block;
}
.mobile-footer .mobile-top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.mobile-footer .mobile-bottom-footer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.mobile-footer-span {
  color: #2196F3;
}
.mobile-footer-maps {
  display: inline-block;
  margin-bottom: 9px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.mobile-footer-contacts {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.mobile-footer-tel {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.mobile-footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.mobile-footer-svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: rgb(175, 177, 184);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-footer-links {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-footer-links:hover, .mobile-footer-links:focus {
  background-color: #2196F3;
}
.mobile-footer-links:hover .mobile-footer-svg, .mobile-footer-links:focus .mobile-footer-svg {
  fill: #FFF;
}

.mobile-bottom-footer-title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.mobile-bottom-footer-input {
  background-color: transparent;
  padding: 15px;
  width: 450px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.mobile-bottom-footer-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mobile-bottom-footer-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mobile-bottom-footer-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mobile-bottom-footer-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mobile-bottom-footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mobile-bottom-footer-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-bottom-footer-button {
  border-radius: 4px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-bottom-footer-button:hover {
  -webkit-transform: scale(1.04, 1.06);
          transform: scale(1.04, 1.06);
}
.mobile-bottom-footer-svg {
  width: 24px;
  height: 24px;
  fill: #FFF;
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  width: 528px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFF;
  padding: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.model-input {
  border: none;
  width: 100%;
  color: #212121;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  width: 448px;
  height: 40px;
  padding: 11px 11px 11px 35px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-input:hover, .model-input:focus {
  outline: 1px solid #2196F3;
}
.model-input:hover + .user-model-svg {
  fill: #2196F3;
}
.model-input:focus + .user-model-svg {
  fill: #2196F3;
}

.label-text {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
}

.user-label {
  margin-top: 4px;
  margin-bottom: 10px;
  position: relative;
}

.user-model {
  background-color: transparent;
}

textarea {
  color: #212121;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:focus {
  border: 1px solid #2196F3;
  outline: none;
}
textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.ioqweqweq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-check {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.label-check input {
  cursor: pointer;
}
.label-check span {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-left: 6px;
  margin-right: 4px;
}

.check-link {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.form-button {
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 52px;
  border-radius: 4px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  display: block;
  margin-inline: auto;
}

.model-close {
  width: 18px;
  height: 18px;
  fill: rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-close-link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.model-close-link:hover .model-close, .model-close .model-close-link:focus .model-close {
  fill: #2196F3;
}

.user-model-svg {
  width: 18px;
  height: 18px;
  fill: #212121;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-model-svg:hover {
  fill: #2196F3;
}

.is-hidden {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}
.is-hidden .model {
  -webkit-transform: translate(-50%, 200px);
          transform: translate(-50%, 200px);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) rotate(360deg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) rotate(360deg);
}

@media screen and (max-width: 1220px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-link:after {
    top: 51.5px;
  }
  .nav-active:after {
    top: 51.5px;
  }
  .r-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .mobile-footer {
    display: block;
  }
  .footer {
    display: none;
  }
  .mobile-top-footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mobile-l-footer {
    margin-right: 0;
  }
  .mobile-r-footer {
    margin-right: 0;
  }
  .advantages {
    padding-bottom: 94px;
  }
  .advantages .container {
    padding-inline: 8vw;
  }
  .advantages-list {
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 30px;
    -webkit-column-gap: 8vw;
       -moz-column-gap: 8vw;
            column-gap: 8vw;
  }
  .advantages-li {
    width: 100%;
  }
  .advantages-li::before {
    width: 100%;
  }
  .advantages-text {
    width: 100%;
  }
  .photos {
    display: none;
  }
  .team-list {
    width: 85%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 30px;
    -webkit-column-gap: 12vw;
       -moz-column-gap: 12vw;
            column-gap: 12vw;
  }
  .team-item {
    width: 100%;
  }
  .team-img {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .customers-list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .r-nav {
    display: none;
  }
  .header_mobile--menu {
    display: block;
  }
  .mobile-footer {
    display: block;
  }
  .footer {
    display: none;
  }
  .mobile-footer .mobile-top-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-l-footer {
    text-align: center;
    margin-right: 0;
  }
  .r-footer {
    margin-right: 0;
  }
  .hero-title {
    font-size: 32px;
    width: 450px;
  }
  .advantages {
    padding-bottom: 94px;
  }
  .advantages-list {
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
  }
  .team-list {
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
  }
  .team-item {
    width: 100%;
  }
  .team-img {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
@media screen and (max-width: 535px) {
  .header-logo {
    font-size: 24px;
    letter-spacing: 0.72;
  }
  .mobile-footer .mobile-l-footer {
    margin-right: 0;
  }
  .mobile-r-footer {
    margin-right: 0;
    text-align: center;
  }
  .mobile-footer .mobile-top-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-footer .mobile-bottom-footer-input {
    width: 80vw;
  }
  .hero-title {
    font-size: 26px;
    width: 360px;
  }
  .hero-button {
    padding: 10px 24px;
  }
  .advantages {
    padding-bottom: 60px;
  }
  .advantages .container {
    padding-inline: 15px;
  }
  .advantages-title {
    text-align: center;
  }
  .advantages-list {
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    gap: 30px;
  }
  .team-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
  .team-list {
    width: 85%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    gap: 30px;
  }
  .team-item {
    width: 100%;
  }
  .team-img {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .customers-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
  .customers-list {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .hero-title {
    font-size: 26px;
    width: 80vw;
  }
}/*# sourceMappingURL=style.css.map */