@import '../utils/variables.scss';

@media screen and (max-width:1220px){
    .header{
        display: flex;
        align-items: center;
    }
    .nav{
        &-link:after{
            top: 51.5px;
        }
        &-active:after{
            top: 51.5px;
        }
    }
    .r-nav{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .mobile-footer{
        display: block;
    }
    .footer{
        display: none;
    }
    .mobile-top-footer{
        justify-content:space-around;
    }
    .mobile-l-footer{
        margin-right: 0;
    }
    .mobile-r-footer{
        margin-right: 0;
    }

    .advantages{
        padding-bottom: 94px;
        .container{
            padding-inline: 8vw;
        }
    &-list{
        width: 100%;
        max-width: max-content;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(2 , 2fr);
        row-gap: 30px;
        column-gap: 8vw;
    }
    &-li{
    // width: 354px;
    width: 100%;
    } 
    &-li::before{
        // width: 354px;
        width: 100%;
    }
    &-text{
        // width: 354px;
        width: 100%;
    }
}
.photos{
    display: none;
}
.team{
    &-list{
        width: 85%;
        max-width: max-content;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        row-gap: 30px;
        column-gap: 12vw;
    }
    &-item{
        // width: 374px;
        width: 100%;
    }
    &-img{
        width: 100%;
        height: max-content;
       }
}
.customers{
    &-list{
        display:grid;
        grid-template-columns: repeat(3,2fr);
        gap: 30px;
        justify-content: center;
    }
}
}
@media screen and (max-width:768px){
    .nav{
        display: none;
    }
    .r-nav{
        display: none;
    }
    .header_mobile--menu{
        display: block;
    }
    .mobile-footer{
        display: block;
    }
    .footer{
        display: none;
    }
    .mobile-footer .mobile-top-footer{
        justify-content:space-between;
    }
    .mobile-l-footer{
        text-align: center;
        margin-right: 0;
    }
   .r-footer{
        margin-right: 0;
    }
    .hero{
        &-title{
            // font-size: 26px;
            // width: 360px;
            font-size: 32px;
            width: 450px;
        }
    }
    .advantages{
        padding-bottom: 94px;
    &-list{
        width: 100%;
        max-width: max-content;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(2 , 2fr);
        gap: 30px;
    }
}
    .team{
        &-list{
            width: 100%;
            max-width: max-content;
            margin-inline: auto;
            display: grid;
            grid-template-columns: repeat(2,2fr);
            // row-gap: 30px;
            // column-gap: 5vw;
            gap: 30px;
        }
        &-item{
            width: 100%;
        }
        &-img{
            width: 100%;
            height: max-content;
           }
    }
    .model{
        width: 100%;
        max-width: 450px;
        &-title{
            width: 100%;
            max-width: 370px;
        font-size: 20px;
        letter-spacing: 0.6px;
        margin-inline: auto;
        }
    }
}
@media screen and (max-width:535px){
    .header{
        &-logo{
            font-size: 24px;
            letter-spacing: 0.72;
        }
    }
    .mobile-footer {
        .mobile-l-footer{
            margin-right: 0;
        }
    }
    .mobile-r-footer{
        margin-right: 0;
        text-align: center;
    }
    .mobile-footer .mobile-top-footer{
        flex-direction: column;
        gap: 60px;
        justify-content: center;
        align-items: center;
    }
    .mobile-footer .mobile-bottom-footer{
        &-input{
            width: 80vw;
        }
    }

    .hero{
        &-title{
            font-size: 26px;
            width: 360px;
        }
        &-button{
            padding: 10px 24px;
        }
    }

    .advantages{
        padding-bottom: 60px;
        .container{
            padding-inline: 15px;
        }
        &-title{
            text-align: center;
        }
    &-list{
        width: 100%;
        max-width: max-content;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(1 , 4fr);
        gap: 30px;
    }
}
    .team{
        &-title{
            font-size: 28px;
            letter-spacing: 0.84px;
        }
        &-list{
            width: 85%;
            max-width: max-content;
            margin-inline: auto;
            display: grid;
            grid-template-columns: repeat(1,4fr);
            // row-gap: 30px;
            // column-gap: 5vw;
            gap: 30px;
        }
        &-item{
            width: 100%;
        }
        &-img{
            width: 100%;
            height: max-content;
           }
    }
    .customers{
        &-title{
            font-size: 28px;
            letter-spacing: 0.84px;
        }
        &-list{
            display:grid;
            grid-template-columns: repeat(2,3fr);
            gap: 30px;
            justify-content: center;
        }
    }
    .ioqweqweq {
        flex-direction: column;
    }
}
@media screen and (max-width:400px){
    .hero{
        &-title{
            font-size: 26px;
            width: 80vw;
        }
    }
    .ioqweqweq {
        flex-direction: column;
    }
}
@media screen and (max-width:335px){
    .ioqweqweq {
        flex-direction: row;
    }
}