*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --accent-color:#2196F3;
    --main-color:#212121;
    --sub-color:#757575;
    --main-color2:#FFF;
    --footer-background-color:#2F303A;
    --team-background-color:#F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.60);
    --advantages-img-bg:#F5F4FA;
    --customers-border:#AFB1B8;
    --worker-icon:rgba(175, 177, 184, 1);
    --footer-linksbg:rgba(255, 255, 255, 0.10);
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p{
    margin: 0;
}
        /* ---------- Шрифты ----------*/
            /* font-family: "Raleway", sans-serif; */
            /* font-family: "Roboto", sans-serif; */
                        /* -------------------------- */
.container{
    outline: 2px solid #fa094e;
    width: 1200px;
    padding-inline: 15px;
    margin-inline: auto;
}
img{
    display: block;
}
address {
    font-style: normal;
  }
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    font-family: "Roboto", sans-serif; 
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    background: var(--main-color2);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.header-logo{
    color:var(--main-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.headerLogo-span{
    color: var(--accent-color);
}
.header-box{
    display: flex;
    align-items: center;
}
.nav{
    margin-left: 93px;
}
.nav-list{
    display: flex;
    gap: 50px;
}
.nav-link{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition:ease-in-out .2s;
    position: relative;
}
.nav-link::after{
    position: absolute;
    content: "";
    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    top: 48px;
    left: 0;
    transition:ease-in-out .2s;
    display: block;
}
.nav-link:hover::after{
    width:100%;
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.nav-link-active{
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
/* .nav-link-active:hover{
    .nav-drop{
        top: 25px;
        opacity: 1;
    }
} */
.nav-link-active::after{
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    top: 48px;
    left: 0;
    display: block;
}
.header-navigation-li{
    position: relative;
}
.header-navigation-li:hover{
    .nav-drop{
        top: 25px;
        opacity: 1;
    }
}
.nav-drop{
    position: absolute;
    right: -40%;
    top:0;
    background-color: var(--accent-color);
    border-radius: 8px;
    opacity:0;
    transition: ease-in-out .2s;
}
.nav-drop ul{
    height: 100px;
    width: 80px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav-drop ul li a{
    color: var(--main-color2);
}
.r-nav{
    margin-left: 318px;
    display: flex;
    gap: 30px;
}
.rnav-link{
    color: var(--sub-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition:ease .2s;
    fill: var(--sub-color);
}
.rnav-link:hover,
.rnav-link:focus{
    color: var(--accent-color);
    .header-icon{
        fill: var(--accent-color);
    }
    
}
.header-icon{
    transition:ease .2s;
    cursor: pointer;
}
.header-mail{
    width: 16px;
    height: 12px;
}
.header-phone{
    width: 10px;
    height: 16px;
}
.rnav-li{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--footer-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.40),rgba(47, 48, 58, 0.40)),url(./img/wstudioherobg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-title{
    width: 696px;
    margin-inline: auto;
    margin-bottom: 30px;
    color: var(--main-color2);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; 
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.hero-button{
    color: var(--main-color2);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.96px;
    background: var(--accent-color);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.advantages-section{
    padding-top: 94px;
    background: var(--main-color2);
}
.advantages-title{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-li:nth-child(1):before{
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-color: var(--advantages-img-bg);
    border-radius: 4px;
    background-image:url(./img/antenna.png) ;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.advantages-li:nth-child(2):before{
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-color: var(--advantages-img-bg);
    border-radius: 4px;
    background-image:url(./img/clock.png) ;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.advantages-li:nth-child(3):before{
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-color: var(--advantages-img-bg);
    border-radius: 4px;
    background-image:url(./img/diagram.png) ;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.advantages-li:nth-child(4):before{
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-color: var(--advantages-img-bg);
    border-radius: 4px;
    background-image:url(./img/astronaut.png) ;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.advantages-text{
    margin-top: 10px;
    color: var(--sub-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}
.our-advantages{
    display: flex;
    gap: 30px;
}
.advantages-imgs{
    display: flex;
    gap: 30px;
}
.photos-section{
    padding-top:94px;
    padding-bottom: 94px;
}
.photos-img{
    width: 370px;
}
.photos-card{
    position: relative;
}
.advantages-advantage-text{
    position: absolute;
    width: 100%;
    height:70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color2);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.photos-title{
    text-align: center;
    margin-bottom: 50px;
    color: var(--main-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}
.webstudio-team{
    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--team-background-color);
}
.team-list{
    display: flex;
    gap: 30px;
}
.worker-card{
    background: white;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}
.worker-img{
    height: 260px;
   }
.team-title{
    margin-bottom: 50px;
    text-align: center;
    color: var(--main-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}
.worker-info-card{
    padding-top: 30px;
    padding-bottom: 30px;
}
.worker-name{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    letter-spacing: 0.48px;
}
.worker-job{
    margin-top: 10px;
    color: var(--sub-color);
font-size: 16px;
font-weight: 400;
line-height: 1.1875;
letter-spacing: 0.48px;
}
.worker-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 28px;
}
.workers-linksq{
    transition:ease .2s;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.worker-icon{
    transition:ease .2s;
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill:var(--worker-icon);
}
.workers-linksq:hover,
.workers-linksq:focus{
    outline:none;
    background-color: var(--accent-color);
    .worker-icon{
        fill: var(--main-color2);
    }
}
.customers{
    padding-block: 94px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.customers h2{
    color: var(--main-color);
    font-size: 36px;
    font-weight: 700;
    line-height:1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.customers-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
}
.customer-icon{
    transition:ease .2s;
    width: 100%;
    height: 60px;
    fill: var(--worker-icon);
}
.customers-item{
    /* padding: 16px 32px; */
    /* border:2px solid var(--customers-border);
    border-radius: 4px; */
    flex-basis: calc((100% - 150px) / 6);
    /* cursor: pointer;
    transition:ease .2s; */
}
.customer-links{
    display: flex;
    align-items:center;
    justify-content: center;
    border:2px solid var(--customers-border);
    border-radius: 4px;
    padding-block: 16px;
}
.customer-links:hover,
.customer-links:focus
{
    outline: none;
    border-color:  var(--accent-color);
    .customer-icon{
        fill: var(--accent-color);
    }
}
.footer{
    padding-block: 60px;
    background: var(--footer-background-color);
}
.footer .container{
    display: flex;
    align-items: first baseline;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 20px;
    color:var(--main-color2);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.l-footer{
    margin-right: 80px;
}
.footer-span{
    color: var(--accent-color);
}
.footer-maps{
    display: inline-block;
    margin-bottom: 9px;
    color: var(--main-color2);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}
.footer-contacts{
    display: inline-block;
    margin-bottom: 9px;
    color: var(--footer-contacts-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7; 
    letter-spacing: 0.42px;
}
.footer-tel{
    display: inline-block;
    color: var(--footer-contacts-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7; 
    letter-spacing: 0.42px;
}
.footer-icons{
    display: flex;
    gap: 10px;
}
.r-footer{
    margin-right: 93px;
}
.r-footer h2{
    color:var(--main-color2);
    font-size: 14px;
    font-weight: 700;
    line-height:1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.footer-svg{
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: var(--worker-icon);
    transition:ease .2s;
}
.footer-links{
    width: 44px;
    height:44px;
    border-radius: 50%;
    background-color:var(--footer-linksbg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition:ease .2s;
}
.footer-links:hover,
.footer-links:focus{
    background-color: var(--accent-color);
    .footer-svg{
        fill: var(--main-color2);
    }
}
.t-footer-title{
    color: var(--main-color2);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.t-footer-input{
    background-color: transparent;
    padding: 15px;
    width: 358px;
    color: var(--main-color2);
    font-size: 16px;
    font-weight: 400;
    line-height:1.25;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}.t-footer-input::placeholder{
    color: rgba(255, 255, 255, 0.60);
}
.t-footer-connect{
    display: flex;
    gap: 12px;
}
.t-footer-button{
    border-radius: 4px;
    background:var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 28px;
    border: none;
    color: var(--main-color2);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height:1.8;
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .2s;
}.t-footer-button:hover{
    scale: 1.02;
}
.t-footer-svg{
    width: 24px;
    height: 24px;
    fill: var(--main-color2);
}
.back-drop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 1; */
}
.model{
    position: relative;
    overflow: hidden;
    width: 528px;
    height:fit-content;
    background-color: var(--main-color2);
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}
.model-title{
    color: var(--main-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}
.label-text{
    color: var(--sub-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.12px;
}
.model-input{
    border: none;
    width: 100%;
    color: var(--main-color);
    font-size: 13px;
    font-weight: 400;
    line-height:1.16;
    letter-spacing: 0.12px;
    width: 448px;
    height: 40px;
    padding: 11px 11px 11px 35px;
    border-radius: 4px;
    outline: 1px solid rgba(33, 33, 33, 0.20);
    margin-top: 4px;
    margin-bottom: 10px;
}
.user-label{
    margin-top: 4px;
    margin-bottom: 10px;
    position: relative;
}
.model-input:hover,.model-input:focus{
    outline: 1px solid var(--accent-color);
}
.model-input:hover + .user-model-svg{
    fill: var(--accent-color);
}
.model-input:focus + .user-model-svg{
    fill: var(--accent-color);
}
.user-model{
    background-color:transparent;
}
textarea{
    color: var(--main-color);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-top: 4px;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}textarea:focus{
    border: 1px solid var(--accent-color);
    outline: none;
}
textarea::placeholder{
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}
 .label-check{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.ioqweqweq{
    display: flex;
    align-items: center;
}
.label-check input{
    cursor: pointer;
}
.label-check span{
    color: var(--sub-color);
    font-size: 14px;
    font-weight: 400;
    line-height:1.71;
    letter-spacing: 0.42px;
    margin-left: 6px;
    margin-right: 4px;
}
.check-link{
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}
.form-button{
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 52px;
    border-radius: 4px;
    background:var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: var(--main-color2);
    text-align: center;
    font-size: 16px;    
    font-weight: 700;
    line-height:1.87;
    letter-spacing: 0.96px;
    display: block;
    margin-inline: auto;
}
.model-close{
    width: 18px;
    height: 18px;
    fill: rgba(0, 0, 0, 0.10);
}
.model-close-link{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:8px;
    right:8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
}
.model-close-link:hover,.model-close-link:focus{
    .model-close{
        fill: var(--accent-color);
    }
}
.user-model-svg{
    width: 18px;
    height: 18px;
    fill: var(--main-color);
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 11px;
}
 .is-hidden{
    display: none;
    pointer-events: none;
 }
