$top-buttons-background-color: #f5f4fa;
$content-border:#EEE;
$accent-color: #2196f3;
$main-color: #212121;
$sub-color: #757575;
$main-colorsec: #fff;
$footer-background-color: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$worker-icon:rgba(175, 177, 184, 1);
$footer-linksbg:rgba(255, 255, 255, 0.10);