    $accent-color:#2196F3;
    $main-color:#212121;
    $sub-color:#757575;
    $main-colorsec:#FFF;
    $footer-background-color:#2F303A;
    $team-background-color:#F5F4FA;
    $footer-contacts-color: rgba(255, 255, 255, 0.60);
    $advantages-img-bg:#F5F4FA;
    $customers-border:#AFB1B8;
    $worker-icon:rgba(175, 177, 184, 1);
    $footer-linksbg:rgba(255, 255, 255, 0.10);